@use './variables' as var;
body {
  font-size: 1.6rem;
}

html {
  font-family: var.$font-text;
}

h1 {
  color: var.$color-title;
  font-family: var.$font-title;
  font-size: 2.8rem;
  font-weight: 400;
}
h3 {
  font-size: 1.8rem;
}

img {
  max-width: 100%;
}
button {
  cursor: pointer;
}
