@use 'variables' as var;
.card-menu {
  display: flex;
  width: 100%;
  position: relative;
  justify-content: space-between;
  background: var.$white;
  border-radius: 15px;
  box-shadow: 0px 4.011494159698486px 15.043103218078613px 0px
    rgba(0, 0, 0, 0.1);
  // When an user is checking
  input[type='checkbox']:checked + label .anim-bg-green {
    width: 59px;
    opacity: 1;
  }
  input[type='checkbox']:checked + label .anim-bg-green .icon-wrap i {
    opacity: 1;
  }

  &__input {
    display: none;
  }
  // Label : div with text(title/desc menu) + div with price and animation
  &__label {
    display: flex;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    .text {
      padding: 1.5rem 0 1.5rem 1.5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 70%;
      flex: 1;
      &__title {
        font-weight: 500;
        font-size: 1.8rem;
      }
      &__desc {
        font-size: 1.5rem;
        font-weight: 300;
      }
      &__title,
      &__desc {
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
    .priceAndAnim {
      align-self: flex-end;
      height: 100%;
      max-width: 30%;
      display: flex;
      align-items: flex-end;
      justify-content: end;

      .price {
        padding-bottom: 1.5rem;
        color: var.$grey-dark;
        font-weight: 700;
        font-size: 1.5rem;
        padding-right: 1.5rem;
        padding-left: 0.5rem;
      }
      .anim-bg-green {
        width: 0;
        height: 100%;
        opacity: 0;
        transition: width 0.4s ease-out, opacity 0.3s ease-out;
        background-color: var.$green;
        border-radius: 0 15px 15px 0;
      }
      .icon-wrap {
        display: flex;
        width: 100%;
        height: 100%;
        justify-content: center;
        align-items: center;

        i {
          opacity: 0;
          color: white;
          transition: opacity 0.5s ease;
        }
      }
    }
  }
}
