@use './variables' as var;
@use './media-queries' as screen;

body {
  position: relative;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero {
  background: var.$white-hint;
  min-height: 22.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem 0;
}
.aside {
  background: var.$white;
  height: 44rem;
  @include screen.lg {
    height: auto;
  }
}
.main {
  background: var.$white-hint;
  padding-bottom: 2rem;
}

.footer {
  background: var.$grey-dark;
  color: var.$white;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
  padding: 2.2rem 2.5rem;
  @include screen.md {
    flex-direction: row-reverse;
    align-items: end;
    padding: 3rem 2.5rem;
  }
}

.menu {
  background: var.$white-hint;
  width: 100vw;
  border-radius: 40px 40px 0 0;
  margin-top: -50px;
  @include screen.lg {
    width: 80vw;
    margin: -50px auto 0;
  }
}
