@use './variables' as var;
.loader {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  height: 100%;
  text-align: center;
  background: #eee;
  z-index: 50;
  animation: opacity-bg 0.8s 3s ease-out forwards;

  &__wrapper {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 2rem;
  }

  &__points span {
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: var.$primary;
    margin: 35px 5px;
    opacity: 0;
  }

  &__points span:nth-child(1) {
    animation: opacitychange 1s ease-in-out infinite;
  }

  &__points span:nth-child(2) {
    animation: opacitychange 1s ease-in-out 0.33s infinite;
  }

  &__points span:nth-child(3) {
    animation: opacitychange 1s ease-in-out 0.66s infinite;
  }

  @keyframes opacitychange {
    0%,
    100% {
      opacity: 0;
    }

    60% {
      opacity: 1;
    }
  }
}

@keyframes opacity-bg {
  100% {
    opacity: 0;
    display: none;
  }
}
