@use './base';
@use './reset';
@use './variables' as var;
@use './media-queries' as screen;
@use './layout';
@use './utils';
@use './classes';

.header {
  &__wrapper {
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    width: 100%;
    &--with-arrow {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      max-width: 90%;
      margin: 0 auto;
    }
  }
  &__logo {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 14px 0;
    img {
      width: 19.7rem;
    }
  }
  &__location {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var.$grey-light;
    width: 100%;
    height: 5rem;
    gap: 1.7rem;
    i {
      color: var.$grey-dark;
    }
  }
  &__bg-img {
    z-index: -50;
    width: 100%;
    height: 27.5rem;
    &--palette {
      background: url(../../images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg)
        center / cover;
    }
  }
}
.hero {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    width: 80%;
    text-align: center;
  }
  &__title {
    font-family: var.$font-text;
    font-size: 2.4rem;
  }
  &__text {
    font-size: 1.8rem;
  }
}
.aside {
  &__wrapper {
    padding: 4.8rem 2rem;
    height: 100%;
    display: flex;
    flex-direction: column;
    @include screen.lg {
      padding: 5rem 2rem;
      height: auto;
      gap: 2.5rem;
    }
  }
  &__list {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 1rem;
    @include screen.lg {
      flex-direction: row;
      align-items: center;
      gap: 3.2rem;
    }
    li {
      position: relative;
      background: var.$white-hint;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
      border-radius: 2rem;
      padding: 2rem 1rem;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      @include screen.lg {
        flex: 1;
      }
      i {
        color: var.$grey-hint;
        padding: 0 2.7rem 0 3.3rem;
        &.primary {
          color: var.$primary;
        }
      }
      .number {
        font-size: 1.4rem;
        position: absolute;
        left: -10px;
        background: var.$primary;
        color: var.$white;
        padding: 0.6rem 1rem;
        border-radius: 50%;
      }
    }
  }
}

.main {
  &__wrapper {
    padding: 4.8rem 2rem;
    display: flex;
    flex-flow: column wrap;
  }
  &__card-container {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    gap: 1.8rem;
    margin-top: 2.5rem;
    @include screen.lg {
      flex-flow: row wrap;
      justify-content: space-between;
      width: 100%;
      row-gap: 5rem;
      column-gap: 10rem;
    }

    .card-restaurant {
      position: relative;
      width: 100%;
      background: var.$white;
      box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.1);
      border-radius: 1.5rem;
      @include screen.lg {
        width: 40%;
      }
      &__wrap-img {
        border-radius: 1.5rem 1.5rem 0 0;
        height: 23rem;
        width: 100%;
        overflow: hidden;

        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
        }
        .new {
          display: block;
          position: absolute;
          top: 13px;
          right: 12px;
          color: var.$green-text;
          padding: 0.7rem 1rem;
          background: var.$green;
          border-radius: 2px;
        }
      }
      &__desc {
        padding: 1.3rem 1.6rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--text {
          p {
            font-size: 1.7rem;
          }
        }
      }
    }
  }
}

.footer {
  &__wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    @include screen.md {
      // width: 100%;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;
      gap: 2rem;
    }

    li {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 1.1rem;
      i {
        font-size: 1.3rem;
      }
      .icon-rotated {
        rotate: -45deg;
        font-size: 1.1rem;
      }
      a {
        color: var.$white;
      }
    }
  }
}

.menu {
  &__wrapper {
    display: flex;
    flex-direction: column;
    padding: 3.2rem 1.3rem;
  }
  &__heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 4rem;
  }
  &__form {
    &-group {
      display: flex;
      flex-direction: column;
      margin-bottom: 4rem;
      gap: 2rem;
      &--btn {
        display: flex;
        align-items: center;
        padding: 4rem 0;
        button {
          width: 18.6rem;
        }
      }
    }
  }
}
